<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intranet Grupo Andrade </title>
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="icon" href="img/favicon.png" sizes="32x32" /> <!-- favicon -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
	<div class="row" id="app">
		<section class="col col-md-3 p-4 d-print-none" id="menu">
			<div class="mx-auto w-75 mb-3"><img src="img/logo.jpeg" class="img-fluid"></div>
			<div class="list-group">
				<a href="principal.html" type="button" class="list-group-item list-group-item-action" aria-current="true">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-house"></i> Inicio</span> 
				</a>
				<a href="contratos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-medical"></i> Contratos</span> 
				</a>
				<a href="pagos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-wallet2"></i> Pagos y detracciones</span> 
				</a>
				<a href="clientes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Clientes</span> 
				</a>
				<a href="proveedores.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Proveedores</span> 
				</a>
				
				<a href="compras.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-piggy-bank"></i> Compras</span> 
				</a>
				<a href="ventas.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-cart"></i> Ventas</span> 
				</a>
				<a href="cuentas-por-cobrar.html" type="button" class="list-group-item list-group-item-action active">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por cobrar</span> 
				</a>
				<a href="cuentas-por-pagar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por pagar</span> 
				</a>
				<a href="ordenes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Órdenes de servicio</span>
				</a>
				<a href="usuarios.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Usuarios</span> 
				</a>
				<a href="reportes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-bar-graph"></i> Reportes</span> 
				</a>
				<a href="perfil.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-gear-fill"></i> Mi perfil</span> 
				</a>
			</div>
		</section>
		<section class="col col-md-9 container mb-3 p-4 pt-3 border-start">
			<div class="d-flex justify-content-between me-5 d-print-none">
				<p class="mb-0 text-muted"><small><strong>Usuario actual:</strong> <span class="text-capitalize">{{nombreCompletoSesion()}}</span></small></p>
				<p class="mb-0 text-muted"><small><strong>Nivel: </strong> 
				<span v-if="verificarAcceso()">Administrador</span><span v-else>Colaborador</span> <a class="text-decoration-none" href="salir.html"><i class="bi bi-door-open"></i> Cerrar sesión</a></small></p>
			</div>
			<hr class="opacity-25 d-print-none">

			<h1 class="text-start">Sección Cuentas por Cobrar</h1>
			<div class="card d-print-none">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> Clientes</label>
							<select class="form-select" id="sltEstado" v-model="filtro.ruc">
								<option value="-1">Todos</option>
								<option v-for="cliente in clientes" :value="cliente.ruc">{{cliente.razon}}</option>
							</select>
						</div>
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> Estado</label>
							<select class="form-select" id="sltEstado" v-model="filtro.estado">
								<option value="-1">Todos</option>
								<option value="6">Pendiente</option>
								<option value="7">Procesado</option>
								<option value="5">Anulado</option>
							</select>
						</div>
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> Tipo de pago</label>
							<select class="form-select" id="sltDirecto" v-model="filtro.directo">
								<option value="-1">Todos</option>
								<option value="1">Directo</option>
								<option value="2">Indirecto</option>
							</select>
						</div>
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> Fecha</label>
							<input type="date" class="form-control" v-model="filtro.fecha">
						</div>
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> Correlativo</label>
							<input type="text" class="form-control" placeholder="Correlativo..." autocomplete="off" v-model="filtro.codigo">
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-between my-3 d-grid gap-2 d-print-none">
				<div>
					<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalNuevo" @click="seEdita=false" v-if="verificarAcceso()"><i class="bi bi-database"></i> Crear nueva cuenta por cobrar</button>
				</div>
				<div class="d-flex d-grid gap-2">
					<button class="btn btn-outline-success" @click="exportarExcel()"><i class="bi bi-file-earmark-excel"></i> Exportar Excel</button>
					<button class="btn btn-outline-secondary" @click="limpiar()"><i class="bi bi-eraser"></i> Limpiar filtro</button>
					<button class="btn btn-outline-secondary" @click="filtrar()"><i class="bi bi-funnel"></i> Aplicar filtro</button>
				</div>
			</div>
			<p class="d-print-none">A continuación se muestran todos las cuentas por cobrar</p>
			<div class="">
				<table class="table table-hover" id="miTabla">
					<thead>
						<th>N°</th>
						<th>Correlativo</th>
						<th>Asunto</th>
						<th>Estado</th>
						<th>Fecha</th>
						<th>Comprobante</th>
						<th>Cliente</th>
						<th>Total</th>
						<th class="d-print-none" v-if="verificarAcceso()">Acciones</th>
					</thead>
					<tbody>
						<tr v-for="(tarea, index) in servicios">
							<td>{{index+1}}</td>
							<td class="text-uppercase">{{tarea.codigo}}</td>
							<td class="text-capitalize">
								<a :href="'detalle-cuentas-por-cobrar.html?id='+tarea.id" class="text-decoration-none">{{tarea.titulo}}</a>
							</td>
							<td>{{retornarProceso(tarea.proceso)}}</td>
							<td class="text-capitalize">{{fechaLatam(tarea.registro)}}</td>
							<td style="white-space: nowrap;">
								<span v-if="tarea.idComprobante==1">Boleta de venta</span>
								<span v-if="tarea.idComprobante==2">Factura</span>
								<span v-if="tarea.idComprobante==3">Recibo por Honorarios</span>
								<span v-if="tarea.idComprobante==4">Ticket</span>
								<span v-if="tarea.idComprobante==5">Nota de venta</span>
								<span v-if="tarea.idComprobante==6">Cotización</span>
								<span v-if="tarea.idComprobante==7">Ninguno</span>
								<span v-if="tarea.idComprobante==8">Otros</span>
							</td>
							<td class="text-capitalize" style="white-space: nowrap;">{{tarea.razon}}</td>
							<td style="white-space: nowrap;">
								<span v-if="tarea.moneda==1">S/ </span>
								<span v-else>$ </span>
								<span>{{tarea.total}}</span>
							</td>
							<td class="d-flex d-grid gap-2 d-print-none" v-if="verificarAcceso()">
								<button class="btn btn-sm btn-light text-secondary" @click="prepararEditar(index)" data-bs-toggle="modal" data-bs-target="#modalNuevo"><i class="bi bi-pencil-square"></i></button>
								<button class="btn btn-sm btn-light text-secondary" @click="borrar(index)"><i class="bi bi-trash3"></i></button>
							</td>
						</tr>
						<tr v-if="servicios.length==0">
							<td colspan="7">No se encontraron datos registrados</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>

		<section>
			<div class="modal fade" id="modalNuevo" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header border-0">
							<h5 class="modal-title" id="miModalLabel">
								<span v-if="!seEdita">Nuevo registro</span>
								<span v-else>Editar pago o detracción</span>
							</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Nombre</p>
							<input type="text" class="form-control mb-3" autocomplete="off" v-model="servicio.titulo">
							<p>Serie-Correlativo</p>
							<input type="text" class="form-control" autocomplete="off" v-model="servicio.codigo">
							<p class="mt-3">Tipo de comprobante</p>
							<select class="form-select" id="sltTipoPago" v-model="servicio.idComprobante">
								<option value="1">Boleta de venta</option>
								<option value="2">Factura</option>
								<option value="3">Recibo por Honorarios</option>
								<option value="4">Ticket</option>
								<option value="5">Nota de venta</option>
								<option value="6">Cotización</option>
								<option value="7">Ninguno</option>
								<option value="8">Otros</option>
							</select>
							<p class="mt-3">R.U.C.</p>
							<input type="text" class="form-control" autocomplete="off" v-model="servicio.ruc">
							<p class="mt-3">Razón social</p>
							<input type="text" class="form-control" autocomplete="off" v-model="servicio.razon">
							<p class="mt-3">Moneda</p>
							<select class="form-select" id="sltMoneda" v-model="servicio.moneda">
								<option value="1">Soles</option>
								<option value="2">Dólares</option>
							</select>
							<p class="mt-3">Monto base</p>
							<input type="number" class="form-control" autocomplete="off" v-model="servicio.base" @keyup="calcularTotal()">
							<p class="mt-3">Monto IGV</p>
							<input type="number" class="form-control" autocomplete="off" v-model="servicio.igv" @keyup="calcularTotal()">
							<p class="mt-3">Total</p>
							<input type="text" class="form-control" autocomplete="off" v-model="servicio.total">
						</div>
						<div class="modal-footer border-0">
							<button v-if="!seEdita" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" @click="crearServicio()"><i class="bi bi-database"></i> Crear nuevo</button>
							<button v-else type="button" class="btn btn-outline-success" data-bs-dismiss="modal" @click="actualizarServicio()"><i class="bi bi-pencil-square"></i> Actualizar pago</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>

		const { createApp, ref, onMounted } = Vue
	
		const app = createApp({
			setup() {
				const servidor = 'https://gandrade.com.pe/intranet/api/'
				const servicio = ref({
					codigo:'', titulo:'', id:-1, directo:1, idComprobante:1, ruc: '',razon: '', base: 0, igv: 0, total: 0, moneda:1
				})
				const clientes = ref([])
				const servicios = ref([])
				const filtro = ref({
					estado:-1, fecha:null, colaborador:-1, codigo:'', directo:-1, ruc:-1
				})
				const seEdita = ref(false)
				let indexGlobal=-1
				
				onMounted(()=>{
					if(!localStorage.getItem('idUsuario')) window.location = 'index.html'
					else{
						pedirDatos()
					}
				})

				function pedirDatos(){
					axios.post(servidor + 'CuentasPorCobrar.php',{
						pedir:'listarMisServicios',
						idUsuario: localStorage.getItem('idUsuario'),
						categoria: 3 //ctas por cobrar
					}).then(res=> {
						servicios.value = res.data
					})
					axios.post(servidor + 'CompraVenta.php',{
						pedir: 'listarProveedorSinRepetir',
						categoria: 3 //ctas por cobrar
					}).then(serv=> clientes.value = serv.data )
				}
				
				function crearServicio(){
					
					axios.post(servidor + 'CuentasPorCobrar.php',{
						pedir:'crear',
						servicio : servicio.value,
						idUsuario: localStorage.getItem('idUsuario'), categoria:3
					}).then(res=> {
						pedirDatos()
						if(res.data.id){
							Swal.fire({
								title: 'Pago creado!',
								icon: 'success'
							})
						}else{
							Swal.fire({
								title: 'Hubo un error al insertar',
								icon: 'error'
							})
						}

					})
				}

				function limpiar(){
					filtro.value = {
						estado:-1, fecha:null, colaborador:-1, codigo:'', directo:-1,  categoria: 3
					}
					filtrar()
				}

				function prepararEditar(index){
					seEdita.value=true
					servicio.value = servicios.value[index]
				}

				function actualizarServicio(){
					axios.post(servidor + 'CuentasPorCobrar.php',{
						pedir: 'actualizarCabecera',
						servicio : servicio.value
					}).then(res=>{
						if(res.data == 'ok'){
							Swal.fire({
								title: '¡Actualizado con éxito!',
								icon: 'success'
							})
						}else{
							Swal.fire({
								title: 'Hubo un error al insertar',
								icon: 'error'
							})
						}
					})
				}

				async function borrar(index){
					indexGlobal = index
					const { value: text } = await Swal.fire({
						//input: "text",
						title: "Borrar Registro",
						//inputLabel: "¿Desea borrar el servicio?",
						confirmButtonText:'Sí, borrar',
						cancelButtonText: 'Cancelar',
						showCancelButton: true,
						/*inputValidator: (value) => {
							if (!value) return "Debe rellenar el campo de motivo";
						}*/
					});
					if (text) { //se aprueba
						axios.post(servidor + 'CuentasPorCobrar.php',{
							pedir:'eliminar',
							id : servicios.value[indexGlobal].id,
						}).then(res =>{
							if(res.data){
								Swal.fire({
									title: '¡Borrado con éxito!',
									icon: 'success'
								})
							}else{
								Swal.fire({
									title: 'Hubo un error al insertar',
									icon: 'error'
								})
							}
							pedirDatos()
						})
					}
				}

				function verificarAcceso(){
					if(localStorage.getItem('nivel')=='1') return true
					else return false
				}

				function filtrar(){
					axios.post(servidor + 'CuentasPorCobrar.php',{
						pedir: 'filtrar',
						idUsuario: localStorage.getItem('idUsuario'),
						filtro: filtro.value, categoria: 3
					}).then(res=> servicios.value = res.data )
				}

				function calcularTotal(){
					let base = parseFloat(servicio.value.base)
					base = isNaN(base) ? 0 : base;
					let igv = parseFloat(servicio.value.igv)
					igv = isNaN(igv) ? 0 : igv;

					servicio.value.total = (base + igv) ?? 0
				}

				function fechaLatam(fecha){
					if(fecha) return moment(fecha).format('DD/MM/YYYY')
				}
				function nombreCompletoSesion(){ return localStorage.getItem('nombreUsuario') }

				function retornarProceso(proceso){
					let lista = ['Asignado', 'En proceso', 'Observado', 'Culminado', 'Anulado', 'Pendiente', 'Procesado']
					return lista[proceso-1]
				}

				function exportarExcel() {
					var tabla = document.getElementById('miTabla');
					var filas = tabla.rows;

					var contenidoExcel = `
							<html xmlns:o="urn:schemas-microsoft-com:office:office"
							xmlns:x="urn:schemas-microsoft-com:office:excel"
							xmlns="http://www.w3.org/TR/REC-html40">
							<head><meta charset="UTF-8"></head><body><table>`;

					for (var i = 0; i < filas.length; i++) {
							contenidoExcel += "<tr>";
							var celdas = filas[i].cells;
							for (var j = 0; j < celdas.length; j++) {
									contenidoExcel += "<td>" + celdas[j].innerText + "</td>";
							}
							contenidoExcel += "</tr>";
					}

					contenidoExcel += `</table></body></html>`;

					// Crear un blob con el contenido de Excel
					var blob = new Blob([contenidoExcel], { type: 'application/vnd.ms-excel' });

					// Crear un enlace para descargar el archivo
					var link = document.createElement('a');
					link.href = URL.createObjectURL(blob);
					let fecha = moment().format('DD-MM-YYYYY[-]hh.mm')
					link.download = `CuentasPorCobrar_${fecha}.xls`;
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
        }
				
				return {
					servidor, servicio, servicios, crearServicio, pedirDatos, fechaLatam, borrar, seEdita, prepararEditar, actualizarServicio, filtro, filtrar, limpiar, verificarAcceso, nombreCompletoSesion, calcularTotal, retornarProceso, exportarExcel,
					clientes
				}
			}
		}).mount('#app')
	</script>
</body>
</html>