<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intranet Grupo Cimal Perú</title>
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="icon" href="img/favicon.png" sizes="32x32" /> <!-- favicon -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
	<div class="row" id="app">
		
		<section class="col col-md-3 p-4 d-print-none" id="menu">
			<div class="mx-auto w-75 mb-3"><img src="img/logo.jpeg" class="img-fluid"></div>
			<div class="list-group">
				<a href="principal.html" type="button" class="list-group-item list-group-item-action" aria-current="true">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-house"></i> Inicio</span> 
				</a>
				<a href="contratos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-medical"></i> Contratos</span> 
				</a>
				<a href="pagos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-wallet2"></i> Pagos y detracciones</span> 
				</a>
				<a href="clientes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Clientes</span> 
				</a>
				<a href="proveedores.html" type="button" class="list-group-item list-group-item-action active">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Proveedores</span> 
				</a>				
				<a href="compras.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-piggy-bank"></i> Compras</span> 
				</a>
				<a href="ventas.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-cart"></i> Ventas</span> 
				</a>
				<a href="cuentas-por-cobrar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por cobrar</span> 
				</a>
				<a href="cuentas-por-pagar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por pagar</span> 
				</a>
				<a href="ordenes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Órdenes de servicio</span>
				</a>
				<a href="usuarios.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Usuarios</span> 
				</a>
				<a href="reportes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-bar-graph"></i> Reportes</span> 
				</a>
				<a href="perfil.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-gear-fill"></i> Mi perfil</span> 
				</a>
			</div>
		</section>

		<section v-if="sinAcceso" class="col col-md-9 container my-3 p-4 border-start ">
			<p class="fs-3">Contenido restringido</p>
			
			<p>Ud. No tiene acceso, solicite a los administradores el acceso</p>
			<a href="javascript:void(0);" class="text-decoration-none" onclick="history.back();"><i class="bi bi-arrow-left-short"></i> Volver</a>
		</section>

		<section v-if="!sinAcceso" class="col col-md-9 container mb-3 p-4 pt-3 border-start " >
			<div class="d-flex justify-content-between me-5 d-print-none">
				<p class="mb-0 text-muted"><small><strong>Usuario actual:</strong> <span class="text-capitalize">{{nombreCompletoSesion()}}</span></small></p>
				<p class="mb-0 text-muted"><small><strong>Nivel: </strong> 
				<span v-if="verificarAcceso()">Administrador</span><span v-else>Colaborador</span> <a class="text-decoration-none" href="salir.html"><i class="bi bi-door-open"></i> Cerrar sesión</a></small></p>
			</div>
			<hr class="opacity-25 d-print-none">
			<h1 class="text-start">Registro de Proveedor: <span class="text-capitalize">{{servicio.razon}}</span></h1>
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="fw-bold">Datos iniciales</h5>
					<div class="row row-cols-md-3">
						<div class="col my-2">
							<label class="fw-bold">R.U.C.</label>
							<p class="mb-0 text-uppercase">{{servicio.ruc}}</p>
						</div>
						<div class="col my-2">
							<label class="fw-bold">Dirección</label>
							<p class="mb-0 text-capitalize">{{servicio.direccionDestino}}</p>
						</div>
						<div class="col my-2">
							<label class="fw-bold">Celular</label>
							<p class="mb-0 text-capitalize">{{servicio.celular}}</p>
						</div>
					</div>
				</div>
			</div>

			<div class="card mb-3">
				<div class="card-body">
					<h5 class="fw-bold">Órdenes de compra</h5>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>N°</th>
								<th>Órden de compra</th>
								<th>Aprobador</th>
								<th>Cliente</th>
								<th>Destino</th>
								<th>Dirección</th>
							</tr>
						</thead>
						<tbody v-for="(dato, index) in datos">
							<tr>
								<td>{{index+1}}</td>
								<td><a :href="'detalle-orden.html?modo=editar&idOrden='+dato.id" class="text-decoration-none">{{dato.orden}}</a></td>
								<td>{{dato.aprobador1}}</td>
								<td>{{dato.razon}}</td>
								<td>{{dato.ciudadDestino}}</td>
								<td>{{dato.direccionDestino}}</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

			


		</section>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		const { createApp, ref, onMounted } = Vue
	
		const app = createApp({
			setup() {
				const servidor = 'https://grupocimalperu.com/intranet/api/'
				let ruc = ref(-1)
				const sinAcceso = ref(true)
				const usuarios = ref([])
				const asignarIdUsuario = ref(-1)
				const servicio = ref([])
				const datos = ref([])
				const adjunto = ref({
					tipo:2, asunto: '', fecha: moment().format('YYYY-MM-DD'), adjunto:''
				})
				
				onMounted(()=>{
					if(!localStorage.getItem('idUsuario')) window.location = 'index.html'
					else{
						const url = new URL(window.location.href);
						ruc.value = url.searchParams.get('ruc');

						if(localStorage.getItem('nivel')==1){
							sinAcceso.value = false
							pedirDatos()
							adjunto.value.tipo = 1
						}else{
							adjunto.value.tipo = 2
							//pedir quien accede
							axios.post(servidor + 'Proveedor.php',{
								pedir:'listarRUC',
								idUsuario: localStorage.getItem('idUsuario'),
								ruc: ruc.value
							}).then(res=>{
								console.log(res.data)
								if(res.data=='noAccess'){
									sinAcceso.value = true
								}
								else{
									sinAcceso.value=false
									servicio.value = res.data.cabecera
									datos.value = res.data.datos
									
								}
							})
						}
					}
				})

				function pedirDatos(){
					axios.post(servidor + 'Proveedor.php',{
						pedir:'listarRUC',
						ruc: ruc.value
					}).then(res=> {
						servicio.value = res.data.cabecera
						datos.value = res.data.datos
					})

					axios.post(servidor + 'Usuario.php',{
						pedir:'listar'
					}).then(res=> {
						usuarios.value = res.data
					})
				}
				
				function fechaLatam(fecha){
					if(fecha) return moment(fecha).format('DD/MM/YYYY')
				}
				function fechaLatamLargo(fecha){
					moment.locale('es')
					if(fecha) return moment(fecha).format('dddd, DD [de] MMMM [de] YYYY')
				}

				function verificarAcceso(){
					if(localStorage.getItem('nivel')=='1') return true
					else return false
				}
				function nombreCompletoSesion(){ return localStorage.getItem('nombreUsuario') }

				return {
					servidor, servicio, fechaLatamLargo, fechaLatam, usuarios, sinAcceso, verificarAcceso, nombreCompletoSesion, ruc, datos
				}
			}
		}).mount('#app')
	</script>
</body>
</html>