<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intranet Grupo Cimal Perú</title>
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="icon" href="img/favicon.png" sizes="32x32" /> <!-- favicon -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
	<div class="row" id="app">
		
		<section class="col col-md-3 p-4 " id="menu">
			<div class="mx-auto w-75 mb-3"><img src="img/logo.jpeg" class="img-fluid"></div>
			<div class="list-group">
				<a href="principal.html" type="button" class="list-group-item list-group-item-action" aria-current="true">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-house"></i> Inicio</span> 
				</a>
				<a href="contratos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-medical"></i> Contratos</span> 
				</a>
				<a href="pagos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-wallet2"></i> Pagos y detracciones</span> 
				</a>
				<a href="clientes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Clientes</span> 
				</a>
				<a href="compras.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-piggy-bank"></i> Compras</span> 
				</a>
				<a href="ventas.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-cart"></i> Ventas</span> 
				</a>
				<a href="cuentas-por-cobrar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por cobrar</span> 
				</a>
				<a href="cuentas-por-pagar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por pagar</span> 
				</a>
				<a href="usuarios.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Usuarios</span> 
				</a>
				<a href="reportes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-bar-graph"></i> Reportes</span> 
				</a>
				<a href="perfil.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-gear-fill"></i> Mi perfil</span> 
				</a>
			</div>
		</section>

		<section v-if="sinAcceso" class="col col-md-9 container my-3 p-4 border-start ">
			<p class="fs-3">Contenido restringido</p>
			
			<p>Ud. No tiene acceso, solicite a los administradores el acceso</p>
			<a href="javascript:void(0);" class="text-decoration-none" onclick="history.back();"><i class="bi bi-arrow-left-short"></i> Volver</a>
		</section>

		<section v-if="!sinAcceso" class="col col-md-9 container mb-3 p-4 pt-3 border-start " >
			<div class="d-flex justify-content-between me-5">
				<p class="mb-0 text-muted"><small><strong>Usuario actual:</strong> <span class="text-capitalize">{{nombreCompletoSesion()}}</span></small></p>
				<p class="mb-0 text-muted"><small><strong>Nivel: </strong> 
				<span v-if="verificarAcceso()">Administrador</span><span v-else>Colaborador</span> <a class="text-decoration-none" href="salir.html"><i class="bi bi-door-open"></i> Cerrar sesión</a></small></p>
			</div>
			<hr class="opacity-25">
			<h1 class="text-start">Registro de pago: <span class="text-capitalize">{{servicio.titulo}}</span></h1>
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="fw-bold">Datos iniciales</h5>
					<div class="row row-cols-md-3">
						<div class="col my-2">
							<label class="fw-bold">Código</label>
							<p class="mb-0 text-uppercase">{{servicio.codigo}}</p>
						</div>
						<div class="col my-2">
							<label class="fw-bold">Creador</label>
							<p class="mb-0 text-capitalize">{{servicio.nomUsuario}}</p>
						</div>
						<div class="col my-2">
							<label class="fw-bold">Registrado</label>
							<p class="mb-0 text-capitalize">{{fechaLatamLargo(servicio.registro)}}</p>
						</div>
						<div class="col my-2">
							<label class="fw-bold">Estado actual</label>
							<p class="mb-0">
								<span v-if="servicio.proceso == 1" >Asignado</span>
								<span v-if="servicio.proceso == 2" >En proceso</span>
								<span v-if="servicio.proceso == 3" >Observado</span>
								<span v-if="servicio.proceso == 4" >Culminado</span>
								<span v-if="servicio.proceso == 5" >Anulado</span>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="d-flex d-grid justify-content-between my-4" v-if="verificarAcceso()">
				<button class="btn btn-outline-success d-none" data-bs-toggle="modal" data-bs-target="#modalEditar"><i class="bi bi-pencil-square"></i> Editar valores inciales</button>
				<button class="btn btn-outline-info " data-bs-toggle="modal" data-bs-target="#modalEtapa"><i class="bi bi-file-arrow-up"></i> Cambiar etapa</button>
				<button class="btn btn-outline-warning " data-bs-toggle="modal" data-bs-target="#modalAsignar"><i class="bi bi-person-plus"></i> Asignación de usuarios</button>
			</div>

			<div class="row">
				<div class="col">
					<p class="fw-bold">Documentos iniciales</p>
					<div class="list-group">
						<a v-for="(documento, index) in documentos" :href="'subidas/'+documento.ruta" target="_blank" class="list-group-item list-group-item-action" aria-current="true">
							<div class="d-flex w-100 justify-content-between">
								<p class="mb-1 text-capitalize">{{documento.asunto}}</p>
								<button v-if="verificarAcceso()" class="btn btn-sm btn-outline-danger" @click="retirarDocumento(index, documento.id, documento.ruta, $event)"><i class="bi bi-x-lg"></i> Remover</button>
							</div>
							<small class="text-capitalize">Agregado: {{fechaLatamLargo(documento.fecha)}}</small>
						</a>
						<a v-if="documentos.length==0" href="#!" class="list-group-item list-group-item-action" aria-current="true">
							<div class="d-flex w-100 justify-content-between">
								<p class="mb-1">No hay documentos principales</p>
							</div>
						</a>
					</div>
				</div>
				<div class="col">
					<p class="fw-bold">Usuarios con acceso</p>
					<div class="list-group">
						<a href="#" v-for="(lector, index) in lectores" class="list-group-item list-group-item-action" aria-current="true">
							<div class="d-flex w-100 justify-content-between">
								<p class="mb-1 text-capitalize">{{lector.nomUsuario}}</p>
								<button class="btn btn-sm btn-outline-danger" v-if="verificarAcceso()" @click="restringir(index)"><i class="bi bi-ban"></i> Restringir</button>
							</div>
						</a>
						<a v-if="lectores.length==0" href="#" class="list-group-item list-group-item-action" aria-current="true">
							<div class="d-flex w-100 justify-content-between">
								<p class="mb-1">No hay usuarios asignados</p>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="card my-3">
				<div class="card-body">
					<h5 class="my-3 fw-bold">Respuesta de colaboradores</h5>
					<div class="my-3 table-responsive">
						<table class="table table-hover">
							<thead>
								<th>N°</th>
								<th>Asunto</th>
								<th>Fecha de envío</th>
								<th>Colborador</th>
								<th>Documento</th>
								<th v-if="verificarAcceso()">Acciones</th>
							</thead>
							<tbody>
								<tr v-for="(respuesta, index) in respuestas">
									<td>{{index+1}}</td>
									<td class="text-capitalize">{{respuesta.asunto}}</td>
									<td>{{fechaLatam(respuesta.fecha)}}</td>
									<td class="text-capitalize">{{respuesta.nomUsuario}}</td>
									<td><a :href="'subidas/'+respuesta.ruta" target="_blank" class="text-decoration-none "><i class="bi bi-file-earmark-arrow-down-fill"></i> Descargar</a></td>
									<td class="d-flex d-grid gap-1" v-if="verificarAcceso()">
										<button class="btn btn-sm btn-outline-danger border-0" title="Eliminar adjunto" @click="borrarRespuesta(index)"><i class="bi bi-x-lg"></i></button>
									</td>
								</tr>
								<tr v-if="respuestas.length==0">
									<td colspan="6">Aún no se registraron respuestas de los colaboradores</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="card my-2">
				<div class="card-body">
					<h5 class="fw-bold">Agregar documento</h5>
					<p class="my-2">Rellene todos los campos:</p>
					<div class="row ">
						<div class="col-6">
							<label for="">Tipo de ajunto <span class="text-danger">*</span></label>
							<select class="form-select mb-3" id="sltTipoDocumento" v-model="adjunto.tipo">
								<option value="1" v-if="verificarAcceso()">Principal</option>
								<option value="2">Respuesta</option>
							</select>
						</div>
						<div class="col-6">
							<label for="">Asunto <span class="text-danger">*</span></label>
							<input type="text" class="form-control mb-3" v-model="adjunto.asunto">
						</div>
						<div class="col-6">
							<label for="">Fecha <span class="text-danger">*</span></label>
							<input type="date" class="form-control mb-3" v-model="adjunto.fecha">
						</div>
						<div class="col-6 my-2">
							<label for="">Archivo adjunto <span class="text-danger">*</span></label>
							<input type="file" class="form-control" placeholder="Adjunte su archivo" id="txtArchivo" v-model="adjunto.adjunto">
						</div>
						<div class="col-6 offset-4 my-2">
							<button class="btn btn-dark" type="button" id="btnEnviar" @click="enviarDocumento()"><i class="bi bi-cloud-upload-fill"></i> Enviar adjunto</button>
						</div>
					</div>
				</div>
			</div>

		</section>

		<section>
			<div class="modal fade" id="modalAsignar" tabindex="-1" role="dialog" aria-labelledby="asignarUsuariosModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header border-0">
							<h5 class="modal-title" id="miModalLabel">Asignación de usuarios</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Seleccione un usuario para que pueda visualizar los registros.</p>
							<select class="form-select text-capitalize" v-model="asignarIdUsuario">
								<option value="-1" checked>Seleccione un usuario</option>
								<option class="text-capitalize" v-for="usuario in usuarios" :value="usuario.idUsuario" >{{usuario.nombres}} {{usuario.paterno}} {{usuario.materno}}</option>
							</select>
						</div>
						<div class="modal-footer border-0">
							<button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" @click="addUser()"><i class="bi bi-person-plus"></i> Asignar usuario</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="asignarUsuariosModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header border-0">
							<h5 class="modal-title" id="miModalLabel">Edición de valores</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Nombre del servicio principal</p>
							<input type="text" class="form-control">
						</div>
						<div class="modal-footer border-0">
							<button type="button" class="btn btn-outline-primary" data-dismiss="modal"><i class="bi bi-pencil-square"></i> Editar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="modalEtapa" tabindex="-1" role="dialog" aria-labelledby="asignarUsuariosModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header border-0">
							<h5 class="modal-title" id="miModalLabel">Edición de etapa</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>Elija una nueva etapa</p>
							<select class="form-select" id="sltEtapa" v-model="servicio.proceso">
								<option value="1">Asignado</option>
								<option value="2">En proceso</option>
								<option value="3">Observado</option>
								<option value="4">Culminado</option>
								<option value="5">Anulado</option>
							</select>
						</div>
						<div class="modal-footer border-0">
							<button type="button" class="btn btn-outline-primary"   @click="cambiarEtapa()" data-bs-dismiss="modal"><i class="bi bi-caret-right"></i> Asignar etapa</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		const { createApp, ref, onMounted } = Vue
	
		const app = createApp({
			setup() {
				const servidor = 'http://localhost/documentos-cimal/api/'
				let idServicio = ref(-1)
				const sinAcceso = ref(true)
				const usuarios = ref([])
				const asignarIdUsuario = ref(-1)
				const servicio = ref([])
				const lectores = ref([])
				const documentos = ref([])
				const respuestas = ref([])
				const adjunto = ref({
					tipo:2, asunto: '', fecha: moment().format('YYYY-MM-DD'), adjunto:''
				})
				
				onMounted(()=>{
					if(!localStorage.getItem('idUsuario')) window.location = 'index.html'
					else{
						const url = new URL(window.location.href);
						idServicio = url.searchParams.get('id');

						if(localStorage.getItem('nivel')==1){
							sinAcceso.value = false
							pedirDatos()
							adjunto.value.tipo = 1
						}else{
							adjunto.value.tipo = 2
							//pedir quien accede
							axios.post(servidor + 'Pago.php',{
								pedir:'quienAccede',
								idUsuario: localStorage.getItem('idUsuario'),
								idServicio: idServicio
							}).then(res=>{
								console.log(res.data)
								if(res.data=='noAccess'){
									sinAcceso.value = true
								}
								else{
									sinAcceso.value=false
									servicio.value = res.data.servicio
									lectores.value = res.data.usuarios
									documentos.value = res.data.documentos
									respuestas.value = res.data.respuestas
								}
							})
						}
					}
				})

				function pedirDatos(){
					axios.post(servidor + 'Pago.php',{
						pedir:'listarDetalle',
						id: idServicio
					}).then(res=> {
						servicio.value = res.data.servicio
						lectores.value = res.data.usuarios
						documentos.value = res.data.documentos
						respuestas.value = res.data.respuestas
					})

					axios.post(servidor + 'Usuario.php',{
						pedir:'listar'
					}).then(res=> {
						usuarios.value = res.data
					})
				}

				function cambiarEtapa(){
					axios.post(servidor + 'Pago.php',{
						pedir:'cambiarEtapa',
						id: idServicio,
						etapa: servicio.value.proceso,
						idUsuario: localStorage.getItem('idUsuario')
					}).then(res=> {
						if(res.data == 'ok'){
							Swal.fire({
								title: '¡Actualizado con éxito!',
								icon: 'success'
							})
						}else{
							Swal.fire({
								title: 'Hubo un error al insertar',
								icon: 'error'
							})
						}
					})
				}

				function addUser(){
					axios.post(servidor + 'Pago.php',{
						pedir:'addUser',
						idServicio: idServicio,
						idUsuario: asignarIdUsuario.value,
						quienAsigna: localStorage.getItem('idUsuario')
					}).then(res=> {
						if(res.data == 'ok'){
							let nombre = usuarios.value.find(x=> x.idUsuario == asignarIdUsuario.value)
							lectores.value.push({
								idUsuario: asignarIdUsuario.value,
								nomUsuario: `${nombre.paterno} ${nombre.materno} ${nombre.nombres}`
							})
							Swal.fire({
								title: 'Usuario agregado con éxito!',
								icon: 'success'
							})
						}else{
							Swal.fire({
								title: 'Hubo un error al insertar',
								icon: 'error'
							})
						}
					})
				}

				function restringir(index){
					Swal.fire({
						title: "¿Desea eliminar el usuario?",
						icon: "warning",
						showCancelButton: true,
						confirmButtonText: "Sí, borrar"
					}).then((result) => {
						if (result.isConfirmed) {
							axios.post(servidor+'Pago.php',{
								pedir:'borrarLector',
								idServicio: idServicio,
								idUsuario: lectores.value[index].idUsuario
							}).then(res=>{
								lectores.value.splice( index, 1)
								Swal.fire({
									title: "¡Retirado el acceso al usuario!",
									icon: "success"
								});
							})
						}
					});
				}

				function enviarDocumento(){
					const inputFile = document.querySelector('#txtArchivo')
					
					const formData = new FormData();
    		  formData.append('pdf', inputFile.files[0]);
    		  formData.append('idServicio', idServicio);
    		  formData.append('idUsuario', localStorage.getItem('idUsuario'));
    		  formData.append('tipo', adjunto.value.tipo);
    		  formData.append('asunto', adjunto.value.asunto);
    		  formData.append('fecha', adjunto.value.fecha);
    		  formData.append('grupo', 2); //idGrupo = 2 => pagos

					axios.post(servidor + 'subidaArchivo.php', formData, {
						headers: {
							'Content-Type': 'multipart/form-data'
						}
					}).then(res=>{
						if(res.data.estado=='ok'){
							if(adjunto.value.tipo==1)
								documentos.value.push({
									id: res.data.id,
									ruta: res.data.subida,
									tipo: adjunto.value.tipo,
									asunto: adjunto.value.asunto,
									nomUsuario: localStorage.getItem('nombreUsuario'),
									registro: adjunto.value.fecha
								})
							if(adjunto.value.tipo==2)
								respuestas.value.push({
									id: res.data.id,
									ruta: res.data.subida,
									tipo: adjunto.value.tipo,
									asunto: adjunto.value.asunto,
									nomUsuario: localStorage.getItem('nombreUsuario'),
									registro: adjunto.value.fecha
								})
							
							Swal.fire({
								icon: 'success',
								title: 'Archivo adjuntado'
							})
							inputFile.value=""
							adjunto.value.asunto=''
						}else{
							Swal.fire({
								icon: 'warning',
								title: 'No se logró adjuntar su archivo'
							})
						}
					})
				}

				function retirarDocumento(index, id, ruta, event){
					event.stopPropagation()
					event.preventDefault()
					Swal.fire({
						title: "¿Desea eliminar el documento adjunto?",
						icon: "warning",
						showCancelButton: true,
						confirmButtonColor: "#d33",
						confirmButtonText: "Si, eliminar"
					}).then((result) => {
						if (result.isConfirmed) {
							axios.post(servidor + 'eliminarArchivo.php',{
								pedir: 'eliminarAdjunto',
								idAdjunto: id,
								ruta
							}).then(res=>{
								if(res.data.estado == 'eliminado'){
									documentos.value.splice(index, 1)
									Swal.fire({
										title: "Archivo borrado",
										icon: "success"
									});
								}
							})
							
						}
					});
				}

				function borrarRespuesta(index){
					Swal.fire({
						title: "¿Desea eliminar la respuesta?",
						icon: "warning",
						showCancelButton: true,
						confirmButtonColor: "#d33",
						confirmButtonText: "Si, eliminar"
					}).then((result) => {
						if (result.isConfirmed) {
							axios.post(servidor + 'Pago.php',{
								pedir: 'eliminarRespuesta',
								idRespuesta: respuestas.value[index].id
							}).then(res=>{
								if(res.data == 'ok'){
									respuestas.value.splice(index, 1)
									Swal.fire({
										title: "Archivo borrado",
										icon: "success"
									});
								}
							})
							
						}
					});
				}
				
				function fechaLatam(fecha){
					if(fecha) return moment(fecha).format('DD/MM/YYYY')
				}
				function fechaLatamLargo(fecha){
					moment.locale('es')
					if(fecha) return moment(fecha).format('dddd, DD [de] MMMM [de] YYYY')
				}

				function verificarAcceso(){
					if(localStorage.getItem('nivel')=='1') return true
					else return false
				}
				function nombreCompletoSesion(){ return localStorage.getItem('nombreUsuario') }

				return {
					servidor, servicio, fechaLatamLargo, fechaLatam, cambiarEtapa, usuarios, asignarIdUsuario, lectores, addUser, restringir, sinAcceso, verificarAcceso, adjunto, enviarDocumento, documentos, retirarDocumento, respuestas, borrarRespuesta, nombreCompletoSesion
				}
			}
		}).mount('#app')
	</script>
</body>
</html>