<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intranet Grupo Cimal Perú</title>
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="icon" href="img/favicon.png" sizes="32x32" /> <!-- favicon -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
	<div class="row" id="app">
		<section class="col col-md-3 p-4 " id="menu">
			<div class="mx-auto w-75 mb-3"><img src="img/logo.jpeg" class="img-fluid"></div>
			<div class="list-group">
				<a href="principal.html" type="button" class="list-group-item list-group-item-action" aria-current="true">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-house"></i> Inicio</span> 
				</a>
				<a href="contratos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-medical"></i> Contratos</span> 
				</a>
				<a href="usuarios.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Usuarios</span> 
				</a>
				<a type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-bar-graph"></i> Reportes</span> 
				</a>
				<a href="perfil.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-gear-fill"></i> Mi perfil</span> 
				</a>
			</div>
		</section>
		<section class="col col-md-9 container my-3 p-4 border-start " >
			<h1 class="text-start">Registro de nuevo usuario</h1>
			<a href="javascript:void(0);" class="text-decoration-none" onclick="history.back();"><i class="bi bi-arrow-left-short"></i> Volver</a>
			<div class="row">
				<div class="col-md-6">
					<div class="mb-3">
						<label for="apellidoPaterno">Apellido Paterno <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="apellidoPaterno" autocomplete="off" v-model="registro.paterno">
					</div>
					<div class="mb-3">
						<label for="apellidoMaterno">Apellido Materno <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="apellidoMaterno" autocomplete="off" v-model="registro.materno">
					</div>
					<div class="mb-3">
						<label for="nombres">Nombres <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="nombres" autocomplete="off" v-model="registro.nombres">
					</div>
					<div class="mb-3">
						<label for="tipoDocumento">Tipo de Documento</label>
						<select class="form-select" id="tipoDocumento" v-model="registro.tipo" disabled="true">
							<option value="1">DNI</option>
							<option value="0">Carnet de Extranjería</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="dni">DNI <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="dni" maxlength="15" autocomplete="off" v-model="registro.dni" disabled="true">
					</div>
					<div class="mb-3 d-none">
						<label for="clave">Contraseña</label>
						<input type="text" class="form-control" id="clave" maxlength="15" autocomplete="off" v-model="registro.clave">
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="celular1">Celular 1</label>
						<input type="text" class="form-control" id="celular1" autocomplete="off" v-model="registro.celular1">
					</div>
					<div class="mb-3">
						<label for="celular2">Celular 2</label>
						<input type="text" class="form-control" id="celular2" autocomplete="off" v-model="registro.celular2">
					</div>
					<div class="mb-3">
						<label for="pais">País</label>
						<select name="" id="sltPais" class="form-select" v-model="registro.pais">
							<option value="1">Perú</option>
							<option value="2">Extranjero</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="departamento">Departamento</label>
						<select class="form-select" id="departamento" v-model="registro.departamento" @change="cambioDepartamento">
							<option value="-1">Seleccione un departamento</option>
							<option v-for="departamento in departamentos" :value="departamento.id">{{departamento.name}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="provincia">Provincia</label>
						<select class="form-select" id="provincia" v-model="registro.provincia" @change="cambioProvincia">
							<option value="-1">Seleccione una provincia</option>
							<option v-for="provincia in provincias_select" :value="provincia.id">{{provincia.name}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="distrito">Distrito</label>
						<select class="form-select" id="distrito" v-model="registro.distrito" v-model="registro.distrito">
							<option value="-1">Seleccione un distrito</option>
							<option v-for="distrito in distritos_select" :value="distrito.id">{{distrito.name}}</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="direccion">Dirección</label>
						<input type="text" class="form-control" id="direccion" autocomplete="off" v-model="registro.direccion">
					</div>
					<div class="mb-3">
						<label for="correoElectronico">Correo Electrónico</label>
						<input type="email" class="form-control" id="correoElectronico" autocomplete="off" v-model="registro.correo">
					</div>
					<div class="mb-3">
						<label for="correoElectronico">Nivel</label>
						<select class="form-control" id="sltNivel" v-model="registro.nivel">
							<option value="1">Administrador</option>
							<option value="0">Colaborador</option>
						</select>
					</div>
				</div>
			</div>
			<div class="d-grid d-flex justify-content-center">
				<button class="btn btn-outline-success" @click="actualizar()"><i class="bi bi-floppy"></i> Actualizar usuario</button>
			</div>
		</section>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		const { createApp, ref, onMounted } = Vue
	
		createApp({
			setup() {
				const servidor = 'http://localhost/documentos-cimal/api/'
				const registro = ref({
					paterno:'', materno:'', nombres:'', 
					tipo:1, dni:'', clave:'', celular1:'', celular2:'', pais:1, departamento:-1, provincia:-1, distrito:-1, direccion:'', correo:'', nivel:0
				})
				const idUsuario = ref(-1)
				const departamentos = ref([])
				const provincias = ref([])
				const provincias_select = ref([])
				const distritos = ref([])
				const distritos_select = ref([])
				
				onMounted(()=>{
					if(!localStorage.getItem('idUsuario')) window.location = 'index.html'
					else{
						const url = new URL(window.location.href);
						idUsuario.value = url.searchParams.get('id');
						pedirDatos();
					}
				})

				function pedirDatos(){
					axios.post(servidor + 'Ubigeo.php',{
						pedir:'listar'
					}).then(res=> {
						departamentos.value = res.data.departamentos
						provincias.value = res.data.provincias
						distritos.value = res.data.distritos
						axios.post(servidor + 'Usuario.php',{
							pedir: 'listarID',
							id: idUsuario.value
						}).then(res2=>{
							registro.value = res2.data
							cambioDepartamento()
							cambioProvincia()
						})
					})

				}

				function cambioDepartamento(){
					registro.value.provincia = -1
					registro.value.distrito = -1
					provincias_select.value = provincias.value.filter(x=> x.department_id === registro.value.departamento )
				}

				function cambioProvincia(){
					registro.value.distrito = -1
					distritos_select.value = distritos.value.filter(x=> x.province_id == registro.value.provincia )
				}

				function actualizar(){
					if(!registro.value.paterno || !registro.value.materno || !registro.value.nombres || !registro.value.dni || !registro.value.clave) alert('Los datos personales son obligatorios')
					else
						axios.post(servidor +'Usuario.php',{
							pedir:'actualizar', registro: registro.value
						})
						.then(res=>{
							if(res.data == 'ok'){
								Swal.fire({
									title: 'Actualizado con éxito!',
									icon: 'success'
								})
							}
							else{
								Swal.fire({
									title: 'Hubo un error al actualizar',
									icon: 'error'
								})
							}
						})
				}

				return {
					registro, actualizar, departamentos, provincias, distritos, provincias_select, distritos_select, cambioDepartamento, cambioProvincia
				}
			}
		}).mount('#app')
	</script>
</body>
</html>