<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intranet Grupo Cimal Perú</title>
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="icon" href="img/favicon.png" sizes="32x32" /> <!-- favicon -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
	<div class="row" id="app">
		<section class="col col-md-3 p-4 " id="menu">
			<div class="mx-auto w-75 mb-3"><img src="img/logo.jpeg" class="img-fluid"></div>
			<div class="list-group">
				<a href="principal.html" type="button" class="list-group-item list-group-item-action" aria-current="true">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-house"></i> Inicio</span> 
				</a>
				<a href="contratos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-medical"></i> Contratos</span> 
				</a>
				<a href="pagos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-wallet2"></i> Pagos y detracciones</span> 
				</a>
				<a href="clientes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Clientes</span> 
				</a>
				<a href="compras.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-piggy-bank"></i> Compras</span> 
				</a>
				<a href="ventas.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-cart"></i> Ventas</span> 
				</a>
				<a href="cuentas-por-cobrar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por cobrar</span> 
				</a>
				<a href="cuentas-por-pagar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por pagar</span> 
				</a>
				<a href="ordenes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Órdenes de servicio</span>
				</a>
				<a href="usuarios.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Usuarios</span> 
				</a>
				<a href="reportes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-bar-graph"></i> Reportes</span> 
				</a>
				<a href="perfil.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-gear-fill"></i> Mi perfil</span> 
				</a>
			</div>
		</section>
		<section class="col col-md-9 container mb-3 p-4 pt-3 border-start ">
			<div class="d-flex justify-content-between me-5">
				<p class="mb-0 text-muted"><small><strong>Usuario actual:</strong> <span class="text-capitalize">{{nombreCompletoSesion()}}</span></small></p>
				<p class="mb-0 text-muted"><small><strong>Nivel: </strong> 
				<span v-if="verificarAcceso()">Administrador</span><span v-else>Colaborador</span> <a class="text-decoration-none" href="salir.html"><i class="bi bi-door-open"></i> Cerrar sesión</a></small></p>
			</div>
			<hr class="opacity-25">

			<h1 class="text-start">Sección Órdenes de servicio</h1>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> N° Órden</label>
							<input type="text" class="form-control" placeholder="Correlativo..." autocomplete="off" v-model="filtro.codigo">
						</div>
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> Ruc o Razón social</label>
							<input type="text" class="form-control" placeholder="Correlativo..." autocomplete="off" v-model="filtro.texto">
						</div>
						<div class="col">
							<label for=""><i class="bi bi-funnel"></i> Fecha</label>
							<input type="date" class="form-control" v-model="filtro.fecha">
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-between my-3 d-grid gap-2">
				<div>
					<a href="detalle-orden.html?modo=nuevo" class="btn btn-outline-primary" v-if="verificarAcceso()"><i class="bi bi-database"></i> Crear nueva órden de servicio</a>
				</div>
				<div class="d-flex d-grid gap-2">
					<button class="btn btn-outline-success" @click="exportarExcel()"><i class="bi bi-file-earmark-excel"></i> Exportar Excel</button>
					<button class="btn btn-outline-secondary" @click="limpiar()"><i class="bi bi-eraser"></i> Limpiar filtro</button>
					<button class="btn btn-outline-secondary" @click="filtrar()"><i class="bi bi-funnel"></i> Aplicar filtro</button>
				</div>
			</div>
			<p>A continuación se muestran todas las órdenes de servicio</p>
			<div class="">
				<table class="table table-hover" id="miTabla">
					<thead>
						<th>N°</th>
						<th>N° Orden</th>
						<th>RUC</th>
						<th>Proveedor</th>
						<th>Ciudad Salida</th>
						<th>Ciudad Destino</th>
						<th>Fecha Emisión.</th>
						<th>Contacto</th>
						<th v-if="verificarAcceso()">Acciones</th>
					</thead>
					<tbody>
						<tr v-for="(tarea, index) in servicios">
							<td>
								<a :href="'detalle-orden.html?modo=editar&idOrden='+tarea.orden.id" class="text-decoration-none">{{index+1}}</a>
							</td>
							<td class="text-capitalize" style="white-space: nowrap;">
								<a :href="'detalle-orden.html?modo=editar&idOrden='+tarea.orden.id" class="text-decoration-none">{{tarea.orden.orden}}</a>
							</td>
							<td class="text-uppercase">{{tarea.proveedor.ruc}}</td>
							<td class="text-uppercase">{{tarea.proveedor.razon}}</td>
							<td class="text-uppercase">{{tarea.orden.ciudad}}</td>
							<td class="text-uppercase">{{tarea.orden.ciudadDestino}}</td>
							<td style="white-space: nowrap;">{{fechaLatam(tarea.proveedor.emision)}}</td>
							<td class="text-uppercase">{{tarea.orden.contacto}}</td>
							<td>
								<button class="btn btn-outline-danger btn-sm" @click="eliminar(index)" title="Eliminar órden"><i class="bi bi-eraser"></i></button>
							</td>
						</tr>
						<tr v-if="servicios.length==0">
							<td colspan="7">No se encontraron datos registrados</td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>

		const { createApp, ref, onMounted } = Vue
	
		const app = createApp({
			setup() {
				const servidor = 'https://grupocimalperu.com/intranet/api/'
				const servicio = ref({
					codigo:'', titulo:'', id:-1, directo:1, idComprobante:1, ruc: '',razon: '', base: 0, igv: 0, total: 0, moneda:1, numeroDocumento:'', fechaDocumento:''
				})
				const servicios = ref([])
				const filtro = ref({
					fecha:null, codigo:'', texto:''
				})
				const seEdita = ref(false)
				let indexGlobal=-1
				
				onMounted(()=>{
					if(!localStorage.getItem('idUsuario')) window.location = 'index.html'
					else{
						pedirDatos()
					}
				})

				function pedirDatos(){
					axios.post(servidor + 'Orden.php',{
						pedir:'listar',
					}).then(res=> servicios.value = res.data
					)
				}

				function eliminar(index){
					if( confirm(`¿Desea eliminar la órden seleccionada?`) ){
						axios.post(servidor + 'Orden.php',{
							pedir:'eliminarCabecera',
							idOrden: servicios.value[index].orden.id
						}).then(res=> {
							pedirDatos()
							if(res.data=='ok'){
								Swal.fire({
									title: 'Registro eliminado!',
									icon: 'success'
								})
							}else{
								Swal.fire({
									title: 'Hubo un error al eliminar',
									icon: 'error'
								})
							}
						})
					}
				}
				
				function crearServicio(){
					servicio.value.base = servicio.value.base ?? 0
					servicio.value.igv = servicio.value.igv ?? 0
					servicio.value.total = servicio.value.total ?? 0
					
					axios.post(servidor + 'CompraVenta.php',{
						pedir:'crear',
						servicio : servicio.value,
						idUsuario: localStorage.getItem('idUsuario'), categoria:1
					}).then(res=> {
						pedirDatos()
						if(res.data.id){
							Swal.fire({
								title: 'Pago creado!',
								icon: 'success'
							})
						}else{
							Swal.fire({
								title: 'Hubo un error al insertar',
								icon: 'error'
							})
						}
					})
				}

				function limpiar(){
					filtro.value = {
						estado:-1, fecha:null, colaborador:-1, codigo:'', directo:-1, categoria: 1
					}
					filtrar()
				}

				function prepararEditar(index){
					seEdita.value=true
					servicio.value = servicios.value[index]
				}

				function actualizarServicio(){
					axios.post(servidor + 'CompraVenta.php',{
						pedir: 'actualizarCabecera',
						servicio : servicio.value
					}).then(res=>{
						if(res.data == 'ok'){
							Swal.fire({
								title: '¡Actualizado con éxito!',
								icon: 'success'
							})
						}else{
							Swal.fire({
								title: 'Hubo un error al insertar',
								icon: 'error'
							})
						}
					})
				}

				async function borrar(index){
					indexGlobal = index
					const { value: text } = await Swal.fire({
						//input: "text",
						title: "Borrar Registro",
						//inputLabel: "¿Desea borrar el servicio?",
						confirmButtonText:'Sí, borrar',
						cancelButtonText: 'Cancelar',
						showCancelButton: true,
						/*inputValidator: (value) => {
							if (!value) return "Debe rellenar el campo de motivo";
						}*/
					});
					if (text) { //se aprueba
						axios.post(servidor + 'CompraVenta.php',{
							pedir:'eliminar',
							id : servicios.value[indexGlobal].id,
						}).then(res =>{
							if(res.data){
								Swal.fire({
									title: '¡Borrado con éxito!',
									icon: 'success'
								})
							}else{
								Swal.fire({
									title: 'Hubo un error al insertar',
									icon: 'error'
								})
							}
							pedirDatos()
						})
					}
				}

				function verificarAcceso(){
					//if(localStorage.getItem('nivel')=='1') return true
					if( ['-1','1'].includes(localStorage.getItem('nivel')) ) return true
					else return false
				}

				function filtrar(){
					axios.post(servidor + 'Orden.php',{
						pedir: 'filtrar',
						filtro: filtro.value
					}).then(res=> servicios.value = res.data )
				}

				function calcularTotal(){
					let base = parseFloat(servicio.value.base)
					base = isNaN(base) ? 0 : base;
					let igv = parseFloat(servicio.value.igv)
					igv = isNaN(igv) ? 0 : igv;

					servicio.value.total = (base + igv) ?? 0
				}

				function fechaLatam(fecha){
					if(fecha)
						if(fecha!='0000-00-00') return moment(fecha).format('DD/MM/YYYY')
				}
				function nombreCompletoSesion(){ return localStorage.getItem('nombreUsuario') }

				function retornarProceso(proceso){
					let lista = ['Asignado', 'En proceso', 'Observado', 'Culminado', 'Anulado', 'Pendiente', 'Procesado']
					return lista[proceso-1]
				}

				function exportarExcel() {
					var tabla = document.getElementById('miTabla');
					var filas = tabla.rows;

					var contenidoExcel = `
							<html xmlns:o="urn:schemas-microsoft-com:office:office"
							xmlns:x="urn:schemas-microsoft-com:office:excel"
							xmlns="http://www.w3.org/TR/REC-html40">
							<head><meta charset="UTF-8"></head><body><table>`;

					for (var i = 0; i < filas.length; i++) {
							contenidoExcel += "<tr>";
							var celdas = filas[i].cells;
							for (var j = 0; j < celdas.length; j++) {
									contenidoExcel += "<td>" + celdas[j].innerText + "</td>";
							}
							contenidoExcel += "</tr>";
					}

					contenidoExcel += `</table></body></html>`;

					// Crear un blob con el contenido de Excel
					var blob = new Blob([contenidoExcel], { type: 'application/vnd.ms-excel' });

					// Crear un enlace para descargar el archivo
					var link = document.createElement('a');
					link.href = URL.createObjectURL(blob);
					let fecha = moment().format('DD-MM-YYYY[-]hh.mm')
					link.download = `Compras_${fecha}.xls`;
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
        }
				
				
				return {
					servidor, servicio, servicios, crearServicio, pedirDatos, fechaLatam, borrar, seEdita, prepararEditar, actualizarServicio, filtro, filtrar, limpiar, verificarAcceso, nombreCompletoSesion, calcularTotal, retornarProceso, exportarExcel, eliminar
				}
			}
		}).mount('#app')
	</script>
</body>
</html>