<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Intranet Grupo Cimal Perú</title>
	<link rel="stylesheet" href="css/estilos.css">
	<link rel="icon" href="img/favicon.png" sizes="32x32" /> <!-- favicon -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
	<div class="row" id="app">
		<section class="col col-md-3 p-4 d-print-none" id="menu">
			<div class="mx-auto w-75 mb-3"><img src="img/logo.jpeg" class="img-fluid"></div>
			<div class="list-group">
				<a href="principal.html" type="button" class="list-group-item list-group-item-action" aria-current="true">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-house"></i> Inicio</span> 
				</a>
				<a href="contratos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-medical"></i> Contratos</span> 
				</a>
				<a href="pagos.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-wallet2"></i> Pagos y detracciones</span> 
				</a>
				<a href="clientes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Clientes</span> 
				</a>
				<a href="proveedores.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Proveedores</span> 
				</a>
				
				<a href="compras.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-piggy-bank"></i> Compras</span> 
				</a>
				<a href="ventas.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-cart"></i> Ventas</span> 
				</a>
				<a href="cuentas-por-cobrar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por cobrar</span> 
				</a>
				<a href="cuentas-por-pagar.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Cuentas por pagar</span> 
				</a>
				<a href="ordenes.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-bag"></i> Órdenes de servicio</span>
				</a>
				<a href="usuarios.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-people"></i> Usuarios</span> 
				</a>
				<a href="reportes.html" type="button" class="list-group-item list-group-item-action active">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-file-bar-graph"></i> Reportes</span> 
				</a>
				<a href="perfil.html" type="button" class="list-group-item list-group-item-action">
					<i class="bi bi-caret-right-fill"></i> <span class="icono"><i class="bi bi-gear-fill"></i> Mi perfil</span> 
				</a>
			</div>
		</section>
		<section class="col col-md-9 container mb-3 p-4 pt-3 border-start">
			<div class="d-flex justify-content-between me-5 d-print-none">
				<p class="mb-0 text-muted"><small><strong>Usuario actual:</strong> <span class="text-capitalize">{{nombreCompletoSesion()}}</span></small></p>
				<p class="mb-0 text-muted"><small><strong>Nivel: </strong> 
				<span v-if="verificarAcceso()">Administrador</span><span v-else>Colaborador</span> <a class="text-decoration-none" href="salir.html"><i class="bi bi-door-open"></i> Cerrar sesión</a></small></p>
			</div>
			<hr class="opacity-25 d-print-none">
			
			<h1 class="text-start">Reportes</h1>

			<div class="card d-print-none">
				<div class="card-body">
					<div class="row row-cols-3">
						<div class="col">
							<label for="">Tipo de reporte</label>
							<select class="form-select" id="sltTipoReporte" v-model="filtro.tipo" @change="resultados=[]">
								<option value="1">Conglomerado de Compras</option>
								<option value="2">Conglomerado de Ventas</option>
								<option value="3">Conglomerado de Ctas. por Cobrar</option>
								<option value="4">Conglomerado de Ctas. por Pagar</option>
							</select>
						</div>
						<div class="col">
							<label for="">Fecha inicial</label>
							<input type="date" class="form-control" v-model="filtro.inicio">
						</div>
						<div class="col">
							<label for="">Fecha final</label>
							<input type="date" class="form-control" v-model="filtro.fin">
						</div>
					</div>
				</div>
			</div>
			<div class="row my-3 d-print-none" v-if="verificarAcceso()">
				<div class="col-6 offset-6 gap-2 d-grid d-flex justify-content-end">
					<button class="btn btn-outline-success" @click="exportarExcel()"><i class="bi bi-file-earmark-excel"></i> Exportar Excel</button>
					<button class="btn btn-outline-secondary me-1" @click="limpiar()"><i class="bi bi-eraser"></i> Limpiar filtro</button>
					<button class="btn btn-outline-secondary me-1" @click="filtrar()"><i class="bi bi-funnel"></i> Aplicar filtro</button>
				</div>
			</div>

			<table class="table table-hover" id="respuestas">
				<thead>
					<tr>
						<th>N°</th>
						<th>Usuario</th>
						<th>Fecha</th>
						<th>Asunto</th>
						<th>Estado</th>
						<th>Total</th>
						<th v-if="[1].includes(filtro.tipo)">Tipo</th>
						<th>Proceso</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(respuesta, index) in resultados">
						<td>{{index+1}}</td>
						<td class="text-capitalize">{{respuesta.nomUsuario}}</td>
						<td>{{fechaLatam(respuesta.registro)}}</td>
						<td class="text-capitalize">{{respuesta.titulo}}</td>
						<td>{{retornarProceso(respuesta.proceso)}}</td>
						<td style="white-space: nowrap;">
							<span v-if="respuesta.moneda==1">S/ </span>
							<span v-else>$ </span>
							<span>{{respuesta.total}}</span>
						</td>
						<td  v-if="[1].includes(filtro.tipo)">
							<span v-if="respuesta.directo==1">Directo</span>
							<span v-else>Indirecto</span>
						</td>
						<td>{{respuesta.nomProceso}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="4" class="text-end"><span class="fw-bold me-3">Total</span></td>
						<td>S/ {{sumaSoles}}
							<br>
							$ {{sumaDolares}}
						</td>
					</tr>
				</tfoot>
			</table>
		</section>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
	<script>
		const { createApp, ref, onMounted, computed } = Vue
	
		createApp({
			setup() {
				const servidor = 'https://grupocimalperu.com/intranet/api/'
				const filtro = ref({
					inicio: moment().format('YYYY-MM-DD'), fin: moment().format('YYYY-MM-DD'), tipo:1
				})
				const resultados = ref([])

				onMounted(()=>{
					if(!localStorage.getItem('idUsuario')) window.location = 'index.html'
					else{
					}
				})

				function limpiar(){
					filtro.value.inicio = moment().format('YYYY-MM-DD')
					filtro.value.fin = moment().format('YYYY-MM-DD')
					filtro.value.tipo = 1
					resultados.value = []
				}

				function filtrar(){
					axios.post(servidor + 'Reportes.php',{
						filtro: filtro.value
					}).then(res => resultados.value = res.data)
				}

				const sumaSoles = computed(() => {
					let suma = 0;
					resultados.value.forEach(item=>{
						if(item.moneda == 1) suma+=parseFloat(item.total)
					})
					return parseFloat(suma).toFixed(2);
					/*return resultados.value.reduce((acc, item) => {
						if(item.moneda == 1) acc + parseFloat(item.total)
						return acc
					}, 0)*/
				})
				const sumaDolares = computed(() => {
					let sumaD = 0;
					resultados.value.forEach(item=>{
						if(item.moneda == 2) sumaD+=parseFloat(item.total)
					})
					return parseFloat(sumaD).toFixed(2);
				})

				function fechaLatam(fecha){
					if(fecha) return moment(fecha).format('DD/MM/YYYY')
				}
				function verificarAcceso(){
					if(localStorage.getItem('nivel')=='1') return true
					else return false
				}
				function nombreCompletoSesion(){
					return localStorage.getItem('nombreUsuario')
				}

				function retornarProceso(proceso){
					let lista = ['Asignado', 'En proceso', 'Observado', 'Culminado', 'Anulado', 'Pendiente', 'Procesado']
					return lista[proceso-1]
				}

				function exportarExcel() {
					var tabla = document.getElementById('respuestas');
					var filas = tabla.rows;

					var contenidoExcel = `
							<html xmlns:o="urn:schemas-microsoft-com:office:office"
							xmlns:x="urn:schemas-microsoft-com:office:excel"
							xmlns="http://www.w3.org/TR/REC-html40">
							<head><meta charset="UTF-8"></head><body><table>`;

					for (var i = 0; i < filas.length; i++) {
							contenidoExcel += "<tr>";
							var celdas = filas[i].cells;
							for (var j = 0; j < celdas.length; j++) {
									contenidoExcel += "<td>" + celdas[j].innerText + "</td>";
							}
							contenidoExcel += "</tr>";
					}

					contenidoExcel += `</table></body></html>`;

					// Crear un blob con el contenido de Excel
					var blob = new Blob([contenidoExcel], { type: 'application/vnd.ms-excel' });

					// Crear un enlace para descargar el archivo
					var link = document.createElement('a');
					link.href = URL.createObjectURL(blob);
					let fecha = moment().format('DD-MM-YYYYY[-]hh.mm')
					link.download = `Reporte_${fecha}.xls`;
					document.body.appendChild(link);
					link.click();
					document.body.removeChild(link);
        }

				return {
					servidor, verificarAcceso, nombreCompletoSesion, filtro, filtrar, resultados, sumaSoles, sumaDolares, fechaLatam, limpiar, retornarProceso, exportarExcel
				}
			}
		}).mount('#app')
	</script>
</body>
</html>